<nav class="flex justify-between items-center p-6">
    <div class="logo p-2 cursor-pointer flex items-center gap-x-2">
        <img src="https://codinginpublic.dev/projects/react-router-budget-app/assets/logomark-011cf1db.svg"
        alt="" class="w-6 h-6">
        <p class="text-2xl font-bold">HomeBudget</p>
    </div>
    @if(userService.isLoggedIn()){
        <button (click)="userService.deleteUserAccount()" class="btn btn-warning">Delete User 
            <i class="fas fa-trash"></i>
        </button>
    }
    
</nav>